@import "./variables";
@import "./mixins";

.intermediatePage {
  background-color: $background;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: url("./../images/bg.png");
  background-attachment: fixed;
  opacity: 0.9;

  flex-direction: column;

  padding: 4rem 20%;

  .displayMsg {
    @include flexCenter();
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    background-color: rgba(80, 53, 249, 0.7);
    border-radius: $standardBorderRadius;
    font-size: 50px;
    min-width: 300px;

    span {
      margin: 0 5px;
    }
  }

  .pointsDisplay {
    @include flexCenter();
    color: white;
    margin: 1rem 0;
    font-size: 20px;
  }
  .center {
    @include flexCenter();
    height: 80%;
    margin-top: 1rem;

    h2 {
      color: white;
      font-size: 40px;
    }

    input {
      text-align: center;
      font-size: 50px;
      height: 80px;
      padding: 0 1rem;
      border-radius: $standardBorderRadius;
      border: none;
      margin: 1rem 0 0.5rem;
      color: $purple;
    }

    p {
      color: white;
      font-size: 20px;
    }
  }
}
