@import "./mixins";
@import "./variables";

.leaderboardPage {
  @include flexCenter();
  justify-content: space-between;
  flex-direction: column;
  background-color: $background;
  height: 100%;
  width: 100%;
  padding: 2rem 4rem;
  position: fixed;
}

.header {
  @include flexCenter();
  flex-direction: column;

  p {
    color: white;
    font-size: 25px;
  }
}

ul {
  @include flexCenter();
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(80, 53, 249, 0.5);
  color: white;
  list-style: none;
  padding: 1rem;
  border-radius: $standardBorderRadius;

  width: 300px;
  height: 408px;

  li {
    margin-top: 0.5rem;
    font-size: 25px;
  }
}

footer {
  @include flexCenter();
  flex-direction: column;
}
