$red: #f56060;
$orange: #f9ae48;
$yellow: #fae94f;
$green: #90cf29;
$blue: #78e0e7;
$purple: #bea6ff;
$pink: #df75d9;

$background: #17067b;

$standardBorderRadius: 5px;

.red {
  color: $red;
}
.orange {
  color: $orange;
}
.yellow {
  color: $yellow;
}
.green {
  color: $green;
}
.blue {
  color: $blue;
}
.purple {
  color: $purple;
}
.pink {
  color: $pink;
}
