@import "./mixins";
@import "./variables";
@import "./button";
@import "./leaderboard";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.resultsPage {
  @include flexCenter();
  justify-content: space-between;
  flex-direction: column;
  background-color: $background;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 2rem 4rem;
  overflow: scroll;
}

.bg {
  position: fixed;
  background-image: url("./../images/bg.png");
  background-attachment: fixed;
  opacity: 0.5;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -10;
}

h1 {
  @include flexCenter();
  font-size: 80px;
}

main {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  flex-wrap: wrap;
  max-width: 1200px;
  background-color: rgba(80, 53, 249, 0.7);
  border-radius: $standardBorderRadius;

  div {
    @include flexCenter();
    justify-content: flex-start;
    list-style: none;
    color: white;
    margin: 5px 1rem 0;
    font-size: 30px;
    min-width: 300px;
    height: 70px;

    span {
      margin-left: 1rem;

      .fullQ {
        min-width: 220px;
        padding: 0 5px;
      }
    }
    img {
      height: 30px;
      width: 30px;
      margin-left: 1em;
    }
  }
}

footer {
  @include flexCenter();
  width: 50%;
  min-width: 300px;
}
