@import "./variables";
@import "./bubbleContainer";
@import "./button";
@import "./mixins";
@import "./intermediatePage";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.modal {
  @include flexCenter();

  background-color: rgba(0, 0, 0, 0.788);
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;

  flex-direction: column;

  padding: 20%;
  z-index: 100;

  .modal-contents {
    @include flexCenter();
    padding: 0 1rem;
    width: 100%;
    min-width: 250px;
    flex-direction: column;
  }
}

.hidden {
  display: none;
}

.gamePage {
  @extend .modal;
  justify-content: space-around;
  background-color: $background;
  padding: 0 2rem 3rem;
  z-index: 0;
  overflow: scroll;
}

.center {
  @include flexCenter();

  height: 20%;
  width: 100%;
  flex-direction: column;
  margin-top: 5rem;

  .questionBox {
    @include flexCenter();

    background-color: white;
    color: #5035f9;
    width: 500px;
    height: 100px;
    border-radius: $standardBorderRadius;
    align-self: center;
    font-size: 50px;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  font-size: 30px;

  .qNum {
    @include flexCenter();

    width: 70px;
    height: 70px;
    color: #17067b;
    background-color: $green;
    border-radius: $standardBorderRadius;
  }

  .timer {
    @extend .qNum;
    background-color: $orange;
  }
}
